
.not-link
{
    text-decoration: none !important;
    color: inherit;
}

.page-title
{
    position: absolute;
    top: 60px;
    left: 15px;
    font-size: 20px;
    color: #7eabc1;
}

.message-box
{
    margin:5px auto 0px auto;
    background-color: #f8fbfd;
    padding:15px;
    border: 2px solid #d3e0e9;
    border-radius:3px;
    width: 50%;
}

.message-box-container
{
    cursor: pointer;
}


.box
{
    background-color: #fff;
    padding: 0px;
    margin: 0px;
}

.box-header
{
    background-color: #5983a0;
    border-radius: 3px 3px 0px 0px;
    margin: 0px;
    padding: 12px;
    color: white;
}

.box-body
{
    padding: 10px;
    border-left: 1px solid #d3e0e9;
    border-right: 1px solid #d3e0e9;
}

.box-footer
{
    padding: 10px;
    background-color:#e7edfb;
    border-left: 1px solid #d3e0e9;
    border-right: 1px solid #d3e0e9;
    border-bottom: 1px solid #d3e0e9;
    border-radius: 0px 0px 3px 3px;
}



.dashboard-box
{
    width: 400px;
    margin: 50px auto;
}

.dashboard-box-body
{
    padding-bottom:30px;
}

.dashboard-item-box
{
    background-color: rgb(242, 246, 255);
    color: #445a69;
    padding: 7px;
    margin: 7px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.dashboard-item-box:hover
{
    background-color: rgb(232, 239, 255);
    transition: 0.3s;
}

.dashboard-item-title
{
    color: #2579a9 !important;
    font-size: 14px;
    font-weight: bold;
}

.dashboard-item-action
{
    color: #b5ceda;
    font-size: 14px;
    margin: 3px;
}

.dashboard-item-action:hover
{
    color: #7a869d;
}



.project-box
{
    width: 100%;
    border-bottom: 1px solid #d3e0e9;
    border-radius: 0px 0px 3px 3px;
    box-shadow: 1px 1px 2px rgba( 0,0,0,0.05 );
    cursor: pointer;
    transition: 0.5s;
}

.project-box:hover
{
    box-shadow: 0px 0px 5px rgba( 0,0,0,0.2 );
    color: #5983a0;
    transition: 0.5s;
}

.project-box-header
{
    font-size: 24px;
}

.project-box-body
{
    padding: 20px;
    min-height: 200px;
}

.project-item-action
{
    color: #b5ceda;
    font-size: 16px;
    margin: 3px;
}

.project-item-action:hover
{
    color: white;
}




.plugin-box
{
    width: 100%;
    border-bottom: 1px solid #d3e0e9;
    border-radius: 0px 0px 3px 3px;
    box-shadow: 0px 8px 2px -5px rgba( 0,0,0,0.05 );
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.plugin-box:hover
{
    box-shadow: 0px 0px 2px 0px rgba( 0,0,0,0.2 );
    color: #5983a0;
    transition: 0.3s;
}

.plugin-box-header
{
    border-top: 1px solid #d3e0e9;
    border-left: 1px solid #d3e0e9;
    border-right: 1px solid #d3e0e9;
    border-radius: 0px;
    background-color: #f8f9ff;
    color: inherit;
}

.plugin-box-body
{
    padding: 20px;
}

.plugin-item-action
{
    color: #b5ceda;
    font-size: 16px;
    margin: 3px;
}

.plugin-item-action:hover
{
    color: #5983a0;
}




.search-box
{
    padding: 0px;
    margin-bottom: 20px;
    opacity: 0.3;
    transition: 0.5s;
}

.search-box:hover , .search-box:active , .search-box:focus
{
    opacity: 1;
    transition: 0.5s;
}




.form-box
{
    width: 100%;
    border-radius: 0px 0px 3px 3px;
    box-shadow: 1px 1px 2px rgba( 0,0,0,0.05 );
    margin: 50px auto;
}

.form-box-header
{
    font-size: 20px;
}

.form-box-body
{
    padding: 15px;
    border-left: 1px solid #d3e0e9;
    border-right: 1px solid #d3e0e9;
    border-bottom: 1px solid #d3e0e9;
}

.form-box .form-group
{
    margin-top: 20px;
    margin-bototm: 0px;
}

.form-box label
{
    font-size: 16px;
    vertical-align: middle;
}

.form-box button[type="submit"]
{
    font-weight: bold;
}